/*
$primary: #66FCF1;
$secondary: #045A29;
$background: #0B0C10;
$background-secondary: #1F2833;
$gray: #C5C6C7;
*/

h1, h2, h3, h4, h5 {
    font-weight: 300;
}

a {
    color: #66FCF1 !important; 
}

input {
    background-color: #1F2833 !important;
    color: #66FCF1 !important;
}

.btn-main {
    background-color: #66FCF1 !important;
    color: #0B0C10 !important;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Header Start*/
.navbar {
    background-color: #0B0C10;
    color: #66FCF1 !important;
}

.navbar-brand {
    font-weight: 700;
    font-size: 2rem;
}
/* Header End*/

/* Hero Section Start*/

/* Hero Section Start*/




